body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#instructions {
    position: fixed;
    width: 640px;
    height: 480px;
    background-color: black;
    color: yellowgreen;
    font-size: 16pt;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;

    border: 4px dashed red;
}

#instructions h3 {
    margin: 0px;
}

/* Player: Library */

#story-stack {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

#story-library h1 {
    color: whitesmoke;
    margin: 2px 2px 2px 8px;
}

.story-card {
    width: 250px;
    height: 250px;

    border: 1px ridge gainsboro;
    margin: 2px;
}

.card-cover {
    width: 100%;
    height: 200px;
}

.card-cover img {
    width: 100%;
    height: 100%;
}

.card-content {
    width: 100%;
    height: 49px;
    line-height: 49px;

    font-size: 18pt;

    text-align: center;
    background-color: darkslategrey;

    color: honeydew;
    border-top: 1px ridge gainsboro;
}

/* Player: Story */
#story-div {
    width: 100%;
    height: calc(100% - 64px);
    position: relative;
}

/* Contenedores sin elementos no deben mostrarse */
.pem-container:empty {
    display: none
}

#visual-container {
    width: 100%;
    height: 100%;
}

#visual-container img, video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#text-container {
    color: antiquewhite;
    font-size: 20pt;

    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;

    padding: 4px;

    border: 1px solid beige;
    background-color: rgba(10, 12, 10, 0.6);

    width: 85%;
    margin: auto;

    z-index: 4;
}

#text-container.expand {
    width: calc(100% - 16px);
    height: calc(100% - 16px);

    box-sizing: border-box;
    margin: 8px !important;
    bottom: 0px;
}

#player-controls img:not(:hover) {
    opacity: 0.3;
}

#player-div {
    width: 100%;
    height: 100vh;
}

#player-controls {
    height: 48px;
    width: calc(7 * 48px);
    position: relative;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    display: flex;
}

#player-controls img {
    width: 48px;
    height: 48px;
}
