body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#story-div {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100% - 64px);
    margin-top: 4px;
    position: fixed;
}

.container {
    flex-basis: 100%;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}

/* Contenedores sin elementos no deben mostrarse */
.container:empty {
    display: none
}

#player-controls {
    border: 1px solid greenyellow;
    height: 48px;
    width: 152px;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: auto;
}

#visual-container img, video {
    max-height: 100%;
    display: block;
    margin: auto;

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

p {
    margin-top: 0;
    margin-bottom: 2pt;
}

#text-container {
    color: antiquewhite;
    font-size: 32pt;

    padding: 2px;

    border: 2px solid purple;
    background-color: rgb(10, 12, 10);

    width: calc(100% - 48px);
    margin: auto;
}

#story-text {
    width: 100%;
    height: 100%;
}

#player-controls img:not(:hover) {
    opacity: 0.3;
}

#player-controls:not(:hover) {
    border: 1px solid #323232;
}